.quote-box{


    box-shadow: 0 10px 50px rgba(0,0,0,.2);
    padding: 30px 30px 50px;
    background-color: #218cd5;
    color: hsla(0,0%,100%,.8);
    font-size: 16px;
    font-weight: 300;
    line-height: 26px;
    text-align: center;
    letter-spacing: .1px;
    position: relative;
}
.photo{
    position: absolute;
    top: 70%;
    left: 38%;
}